<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<h1>Conlang Translator</h1>
<form method="POST">
    <label for="input">Enter text:</label>
    <input type="text" id="input" name="input">
    <button type="submit" name="submit-input" value="english">Submit English text</button>
    <button type="submit" name="submit-input" value="pig-latin">Submit Pig Latin text</button>
</form> 
<!--Above it's getting the code and below it's displaying the result.-->
{% if input %}
    <p>You wrote: {{ input }}</p> <!--It does say you wrote and then in pig latin it's-->
{% endif %}

{% if result %}
    <p>In Pig Latin it's {{ result }}</p>
{% endif %}
